.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #394867;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
}

.modal-content h2 {
    margin-bottom: 20px;
    color: #F1F6F9;
}

.modal-content input {
    width: 85%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #F1F6F9;
    border-radius: 5px;
}

.modal-content button {
    width: 92%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9BA4B5;
    color: #F1F6F9;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #212A3E;
}

.close-button {
    margin-top: 10px;
    background-color: #9BA4B5;
    color: #F1F6F9;
}
