.welcome-page {
    text-align: center;
    background-color: #394867;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-header h1 {
    font-size: 2.5em;
    color: #9BA4B5;
    margin-bottom: 20px;
}

.welcome-header p {
    font-size: 1.5em;
    color: #9BA4B5;
    margin-bottom: 20px;
}

.auth-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.auth-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #9BA4B5;
    color: #F1F6F9;
}

.auth-buttons button:hover {
    background-color: #9BA4B5;
}
